{
    "send": [
        "localhost:8000"
    ],
    "midi": [
        "fcb:0,1"
    ],
    "load": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\guitar-fx.json",
    "custom-module": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\midi-osc.js",
    "geometry": {
        "launcher": {
            "x": 620,
            "y": 278,
            "width": 680,
            "height": 524
        },
        "client": {
            "x": 0,
            "y": 0,
            "width": 1920,
            "height": 1080
        }
    },
    "options": {
        "send": [
            "localhost:8000"
        ],
        "midi": [
            "fcb:0,1"
        ],
        "load": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\guitar-fx.json",
        "custom-module": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\midi-osc.js"
    },
    "recentSessions": [
        "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\guitar-fx.json",
        "c:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\guitar-fx.json",
        "C:\\Users\\trocado\\OneDrive\\Documents\\Robalo\\robalo-ui.json",
        "C:\\Users\\trocado\\Desktop\\2022-07-19_23_45.json",
        "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\collisions\\verticalizer.json",
        "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\collisions\\tap-tempo.json",
        "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\collisions\\autoharp.json",
        "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\sampler\\gui.json"
    ]
}