{
    "send": [
        "localhost:8000"
    ],
    "midi": [
        "fcb:0,1"
    ],
    "load": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\gui\\guitar-fx.json",
    "custom-module": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\gui\\midi-osc.js",
    "osc-port": 8088,
    "geometry": {
        "launcher": {
            "x": 344,
            "y": 194,
            "width": 680,
            "height": 524
        }
    },
    "options": {
        "send": [
            "localhost:8000"
        ],
        "midi": [
            "fcb:0,1"
        ],
        "load": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\gui\\guitar-fx.json",
        "custom-module": "C:\\Users\\trocado\\OneDrive\\Documents\\Lisp\\cl-collider\\guitar-fx\\gui\\midi-osc.js",
        "osc-port": 8088
    }
}